{% extends "base.html" %}

{% block title %} {{ block.super }} | Notifications {% endblock title %}

{% block content %}
	<div class="col-sm-10 col-sm-offset-1">
	<h1 class="text-center">Notifications</h1>
	<hr/>
	<table class="table table-striped">
		<tr>
			<!-- <th class="text-center">Notifications</th> -->
			<!-- <th>Target</th> -->
			<!-- <th>Time</th> -->
		</tr>
		{% for notification in notifications %}
			<tr>
				<td>
					{{ notification|safe }}
<!-- 				{{ notification.sender_object }}
					{{ notification.verb }}
					{% if notification.action_object %}
					{{ notification.action_object }}
					{% endif %}
					{% if notification.target_content_object %}
					with
					{{ notification.target_content_object }}
					{% endif %} -->
				</td>
				<td>
					{% if notification.read %} Read {% else %} Unread {% endif %}
				</td>
				<!-- <td>{{ notification.timestamp }}</td> -->
			</tr>

		{% endfor %}
	</table>
	</div>
	
{% endblock content %}

			"sender": self.sender_object,
			"verb": self.verb,
			"action": self.action_object,
			"target": self.target_content_object,